################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cifar
/src/__pycache__
/PLOTDATA.pkl
/latest.png
/latest_adv.png
